@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-decoration: none;
}
body {
  background-color: #D5E5F2;
  margin: 0;
}

.navbar {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left.div {
  padding-right: 25px;
}

.navbar-right {
  align-content: center;
}

.title {
  font-size: 32px;
  color: #123C73;
  padding-left: 25px;
}

.navLinks {
  text-align: center;
  padding-left: 25px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #7595BF;
  cursor: pointer;
  text-decoration: none;
}

.navLeftText {
  color: #7595BF;
  height: auto;
  padding-left: 25px;
  font-size: 1.1rem;
  font-weight: 500;
}

.logo {
  font-size: 3.5rem;
  color: #123C73;
  padding-left: 25px;
}

.navLinks:hover {
  color: #123C73;
}

.containerBody {
  width: 90%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
}

.containerElements {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.card {
  width: 425px;
  height: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}


.card:hover {
  transform: scale(1.05);
}

.leftCard {
  padding-left: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.rightCard {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.rightCard p {
  color: #A67437;
  padding-top: 2px;
  font-size: 1.1rem;
}

.rightCard h2 {
  color: #123C73;
  font-size: 1.05rem;
}

.customerIcon {
  font-size: 6rem;
  color: #123C73;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.customerStar {
  padding-right: 25px;
  font-size: 5rem;
  position: absolute;
  right: -10px;
  top: -30px;
  color: #8379D9;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.customerGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 25px;
  justify-content: space-between;
}

.footer {
  height: 50px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  border-style: none;
  background-color: transparent;
  outline: none;
  border: none;
  letter-spacing: 2px;
  border-bottom: 1.5px solid #8379D9;
}

.search:hover {
  border-bottom: 1.5px solid #123C73;
}

.search:focus {
  border-bottom: 1.5px solid #123C73;
}

::placeholder {
  opacity: 0.8;
}

/* Form - Add customer */

.customerInput {
    border-style: none;
    background-color: transparent;
    outline: none;
    border: none;
    letter-spacing: 2px;
    border-bottom: 1.5px solid #8379D9;
    margin-right: 45px;
}

.customerInput:hover {
  border-bottom: 1.5px solid #123C73;
}

.customerInput:focus {
  border-bottom: 1.5px solid #123C73;
}

.containerCard {
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
}

.cardCustomer {
  width: 750px;
  height: 450px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  /* transition: all 0.5s ease; */
}

.leftCardCustomer {
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
}

.leftCardCustomer h2{
  color: #123C73;
  font-size: 1.4rem;
  margin-top: 15px;
}

.rightCardCustomer {
  width: 50%;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.form input {
  margin-bottom: 20px;
}

.form h2 {
  color: #123C73;
  font-size: 1.05rem;
}

.customerIconCustomer {
  font-size: 17rem;
  color: #123C73;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.button {
  width: 150px;
  height: 45px;
  outline: none;
  border: none;
  color: #8379D9;
  border-radius: 25px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: #8379D9;
}
